:root {
    --cor-do-fundo: black;
}
body {
    background-color: darkgreen;
    color: cadetblue;
    font-family: "Chakra Petch", sans-serif;
}

.conteudo-principal {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: 'Chakra Patch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
}